extends mathlayout

block content
    h1= title

    p There are #{data.question_count} questions.

    form(method=POST action="/check")
        each q in data.question_list
            div.form-group
                label(for=q._id) #{q.question} 
                input.form-control(id=q._id, type=text, name=q._id)

        else
            There are no questions.
    button.btn.btn-primary(type=submit) Check Answers
